extends ../layout.jade
block main
	div.editor
		block content
			div.center
				form(action="/editor/newworkspace", method="POST")
					ul.noul
						li
							h3.divider Workspace Dashboard
							.ui.cards
								each val,index in workspaces
									.card
										.content
											.header(name="wsname" value=val.workspace) #{val.workspace}
											.description
											|	#{val.description}
											br
											|	#{val.status}
										.extra.content
											if val.running
												.ui.three.buttons
													button(class="ui basic green button" type="submit" name="butt" formtarget="_blank" value=("4+"+val.workspace)) Open
													button(class="ui basic blue button" type="submit" name="butt" value=("2+"+val.workspace)) Stop
													button(class="ui basic red button" type="submit" name="butt" value=("3+"+val.workspace)) Delete
											else
												.ui.two.buttons
													button(class="ui basic green button" type="submit" name="butt" formtarget="_blank" value=("1+"+val.workspace)) Start
													button(class="ui basic red button" type="submit" name="butt" value=("3+"+val.workspace)) Delete
								.card
										.content
											.header 
												input.input-block-level(name="workspacename", placeholder="Workspace Name" style="width:250px;") 
											.description
												input.input-block-level(name="descrip", placeholder="Description")
										.ui.one.buttons
												button(class="ui basic green button" type="submit" name="butt" value="create") +	

block post_wrap
	
