extends ../layout.jade
block main
	div.login
		block content
			div.center
				form(class="form-login box", action="/users/login", method="POST")
					ul.noul
						li
							input.input-block-level(type="email", name="email", placeholder="Email",required="required")

block post_wrap
	script.
		console.log("Do like this if you want to do inline js on this particular page");
		console.log("Or do as below to include js files only on this page")
	script(src="#{staticURL}/scripts/modules/login.js")