extends ../layout.jade

block pre_main
	div#banner
		div.content
			h2
				| Convert the URL
			| Convert the big ones, you dont need to carry the weight around !
			br
			br
			form(class="form-login box", action="/homepage/shorten", method="POST")
				ul.noul
					li
						input.input-block-level( name="url", style="width:350px;background-color :#000000",placeholder="URL",required="required")
					button(class="btn flt-right",type="submit") Shorten

block main
	div.home
		

block post_wrap
	script.
		Jyotisham.addWinResize(function() {
			var j = Jyotisham;
			winH = j.dom.win.outerHeight(false);
			docH = j.dom.doc.outerHeight(false);
			winH = (winH > docH)? docH : winH;

			$("#banner").css("height", winH - j.dom.header.outerHeight(false));
		});
